*{
   font-size: 62.5%; /*1rem = 10px*/
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--primaryColor_Green_200);
  display: grid;
  place-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
